@font-face {
  font-family: "Gwent";
  src: url("/src/assets/fonts/Gwent/Gwent_extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HalisGR";
  src: url("/src/assets/fonts/HalisGRBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR";
  src: url("/src/assets/fonts/HalisGRBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR";
  src: url("/src/assets/fonts/HalisGRBook.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR";
  src: url("/src/assets/fonts/HalisGRExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR";
  src: url("/src/assets/fonts/HalisGRLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR";
  src: url("/src/assets/fonts/HalisGRMedium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR";
  src: url("/src/assets/fonts/HalisGRRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HalisGR";
  src: url("/src/assets/fonts/HalisGRThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gwent", sans-serif;
}

body,
html,
#root,
.ReactModal__Overlay {
  height: 100%;
  width: 100%;
}

.ReactModal__Overlay {
  background: transparent !important;
  z-index: 1000;
  pointer-events: none;
}
.ReactModal__Overlay > div {
  height: 100%;
  width: 100%;
}
