@font-face {
  font-family: "Gwent";
  src: url("/src/assets/fonts/Gwent/Gwent_extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gwent", sans-serif;
}

body,
html,
#root,
.ReactModal__Overlay {
  height: 100%;
  width: 100%;
}

.ReactModal__Overlay {
  background: #0000007d !important;
}
.ReactModal__Overlay > div {
  height: 100%;
  width: 100%;
}
